
    <div class="text-center">
        <img class="rounded-circle" width="200px"src="assets/ProfilePic.jpg">
    </div>
    
    <p>
        Entering college I never planned on becoming a software engineer. The first semester I stumbled into an
        Intro to Computer Science and I stuck with it. Years later, lots of helpful people, and expereinces I am
        greatful for I find myself enjoying a career in software. 
    </p>
    <p class="header">2018</p>

    <p>
        Four years of college came to an end. Along the way were experiences working with athletics, a role in student
        government, participation in the leadership program, and a service learning opportunity in Nicaragua. I
        graduated from Regis University with a Bachelors in Computer Science in May and was lucky enough to have a full 
        stack software engineering position lined up. Outside of school I spent my free time refereeing soccer matches 
        of all levels (youth, adult, professional). August of this year I started pursing my Masters in Software Engineering 
        at Regis while continuing to work full time.
    </p>
    <p class="header">2019</p>

    <p>
        I continued with my Masters and decided on an emphasis in Web Development. Refereeing was still an active part of 
        my life but multiple injuries slowed the down quite a bit. Professionally work work going great. Every day I was 
        learning something new and was challenged to learn new skills with C#, SQL, AngularJS, and CoffeeScript. In December 
        I finished my Masters in Software Engineering. “Exhausted” would be an understatement.
    </p>
    
    <p class="header">2020</p>

    <p>
        Being done with school was a weight off the shoulders. In my free time I have started reading a mix of technical books
        to develop new skills along with some more relaxing fiction. Quarantine of 2020 arrived which eliminated the ability 
        to referee. I picked up running seriously for the first time, built a desktop PC, and started to build this website. 
        Work continues to go well and I am just starting to work with micro-services in AWS.  
    </p>

      
