.rounded-circle{
    margin-top: 10px;
    margin-bottom: 20px;
}

.year{
    font-size: 25px;
    color: #2460a7;
    font-family: Arial;
    position: relative;
    overflow: hidden;
    text-align:left;
    margin-top: 45px;
  }
    
.year:after{
    display: inline-block;
    content: "";
    height: 2px;
    background: #2460A7;
    position: absolute;
    width: 50%;
    top: 50%;
    margin-left: 10px;
  }