<div class="text-center">
       
    <div class="card mx-auto contactCard">
        <div class="card-body">
            <div class="card-title">Devin Wagner</div>
            <div class="card-text contactCardText">Devinwagner003@gmail.com</div>
            <a class="card-link contactIcon" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/dtwagner55/"><i class="fa fa-linkedin fa-2x"></i>
            </a>
        
            <a class="card-link contactIcon" target="_blank" rel="noopener noreferrer" href="https://github.com/dwagner003"><i class="fa fa-github fa-2x"></i>
            </a>
        </div>
        
    </div>
    
</div>
