<!--Should add some type of authentication so that only I can add/edit/update-->
<button class="m-3 btn btn-sm btn-info" [routerLink]="['addBook']" routerLinkActive="active">Add Book</button>
<button class="m-3 btn btn-sm btn-danger" (click)="removeAllBooks()">
  Remove All
</button>
<p>Currently on the nightstand</p>

<div class="card-deck justify-content-center">
  <div class="bookCard" *ngFor ="let book of notReadBooks; let i = index"> 
    <div class="card">
      <div class="card-body">
        <div class="card-title">{{book.title}}</div>
        <div class="card-text bookCardText">{{book.description}}</div>
      </div>
      <a class="badge badge-warning" href="/books/{{ book.id }}">
        Edit
      </a>
    </div>
  </div>  
</div>

<p>Already read and sittng on the bookshelf</p>

<div class="card-deck justify-content-center">
  <div class="bookCard" *ngFor ="let book of readBooks; let i = index" [class.active]="i == currentIndex" (click)="setActiveBook(book, i)"> 
    <div class="card">
      <div class="card-body">
        <div class="card-title">{{book.title}}</div>
        <div class="card-text bookCardText">{{book.description}}</div>
      </div>
      <a class="badge badge-warning" href="/books/{{ book.id }}">
        Edit
      </a>
    </div>
  </div>  
</div>

