<!--Should add some type of authentication so that only I can add/edit/update-->
<a [routerLink]="['addBook']" routerLinkActive="active">Add Book</a>

<!-- I will need to come back and format this with bootstrap-->
<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Books List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let book of books; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveBook(book, i)"
        >
          {{ book.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllBooks()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentBook">
        <h4>Book</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentBook.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentBook.description }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentBook.read ? "Read" : "Reading" }}
        </div>
  
        <a class="badge badge-warning" href="/books/{{ currentBook.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentBook">
        <br />
        <p>Please click on a Book...</p>
      </div>
    </div>
  </div>






<!--
<div class="text-center" *ngFor ="let book of books">
    <div class="card mx-auto bookCard">
        <div class="card-body">
            <div class="card-title">{{book.title}}</div>
            <div class="card-text bookCardText">{{book.author}}</div>
            <div class="card-text bookCardText">{{book.price | currency}}</div>
            <div class="card-text bookCardText">{{book.type}}</div>
        </div>
        
    </div>
</div>

-->

