/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html{
    height: 100%;
}
body {
    background-color: #87cefa;
    height: 100%;
}
.innerContent {
    background-color: #f5f5f5;
    min-height: 100%;
    padding-bottom: 10%;
}
.imgWrapper{
    max-width: 70%;
    margin-bottom: 20px;
}

.header{
    font-size: 25px;
    color: #2460A7FF;
    font-family: Arial;
    position: relative;
    overflow: hidden;
    text-align:left;
    margin-top: 45px;
  }

.header:after{
    display: inline-block;
    content: "";
    height: 2px;
    background: #2460A7FF;
    position: absolute;
    width: 50%;
    top: 50%;
    margin-left: 10px;
  }
