/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html{
    height: 100%;
}
body {
    background-color: lightblue;
    height: 100%;
}
.innerContent {
    background-color: whitesmoke;
    min-height: 100%;
}
