<div class=" text-center">
    <img class="rounded-circle" width="200px"src="assets/ProfilePic.jpg">
</div>
<div>
    <h1>
       <B> Hi, I'm Devin.</B>
    </h1>
    <h3>
        <B>As a software engineer</B> I am interested in creating solutions that are scalable,
         perform well, and are cost effective. 
    </h3>
    <h3>
        <B>As an individual</B> I require my work to be meaningful not only for myself but for the greater good.
    </h3>
    <h3>
        <B>Constant learning</B> and solving new problems is the key to my growth. 
    </h3>
</div>