
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Wagner's Site</a>
    </div>

    <div class="navbar-center collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">
            HOME
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']" routerLinkActive="active">
            ABOUT
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['contact']" routerLinkActive="active">
            CONTACT
            </a>
        </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/dtwagner55/"><i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://github.com/dwagner003"><i class="fa fa-github"></i>
            </a>
        </li>
        </ul>
    </div>
</nav>
